---
// Footer component
// Customize this for each project
---

<footer class="footer bg-gray-100 py-8 mt-12">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <p class="text-gray-600">&copy; 2024 Template Name. All rights reserved.</p>
    </div>
  </div>
</footer>
